@charset "UTF-8";
@import url(font.css);
/* color: #d8231d */
/* Geral */
body{
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    margin: 0px;
}
/* cabecalho */
header#cabecalho-menu{
    background:#f0f8ff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.308);
}
/* Menu */
div.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1300px;
    margin: auto;
}
div.cabecalho ul{
    display: block;
    float: right;
    margin: 30px 30px 30px 30px;
}
div.cabecalho li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
div.cabecalho li:hover{
    background: gray;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}
div.cabecalho a{
    text-decoration:none;
    color:#000000;
}
div.cabecalho a:hover{
    text-decoration:none;
    color:#ffffff;
}
article{
    margin-top: 50px;    
}
/* contudo */
.corpo-conte{
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
/* Conteudo - Inicio */
article#inicio img{
    display: block;
    margin: 0px auto;
}
/* Conteudo - Quem somos */
article#sobre{
    display: flex;
}
div#sobre_img img{
    display: block;
    position: absolute;
}
div#sobre_texto{
    margin: 5px;
    padding: 5px;
    text-align: left;  
}
div#sobre_texto h1{
    display:block;
    font-size: 26pt;
    width: 30%;
    background-color: none;
}
div#sobre_texto h1:hover{
    color:#000000;
    text-decoration:underline;
}
div#sobre_texto p{
    
}
/* Conteudo - fotos */
article#fotos img{
    display: block;
    margin: 0px auto;
}
/* Conteudo - contato */
article.contform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
article.contform div#formulario{
    display: block;
    padding-right: 50%;
    align-items:  flex-end;
}
/* Conteudo - rodape */
footer#rodape{
    background-color: #bbbbbb;
    border-top: 1px 1px 10px #000000;
}
footer.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

/* Outros */
